@font-face {
  font-family: "font-light";
  src: url(./Roboto-Light.ttf);
}

@font-face {
  font-family: "font-thin";
  src: url(./Roboto-Thin.ttf);
}

@font-face {
  font-family: "font-regular";
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: "font-medium";
  src: url(./Roboto-Medium.ttf);
}

@font-face {
  font-family: "font-bold";
  src: url(./Roboto-Bold.ttf);
}
