$navbar-height: 90px;
$border-color: rgb(217, 217, 217);
$element-bg: #f8fafd;
$text-color: rgb(71, 82, 78);

#Searchbar {
  max-width: 400px;
  width: 100%;
  height: 40px;

  .content {
    position: relative;
    height: 100%;
    padding: 0 8px;
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: $element-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        padding: 10px 0;
        padding-left: 5px;

        &::placeholder {
          color: rgb(144, 144, 144);
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      &[data-hidden="true"] {
        visibility: hidden;
      }

      .icon {
        cursor: pointer;
      }
    }

    .icon {
      font-size: 20px;
      cursor: default;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(152, 152, 152);
  border-radius: 1px;
}
