$navbar-height: 90px;
$border-color: rgb(217, 217, 217);
$element-bg: #f8fafd;
$text-color: rgb(71, 82, 78);

#Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;

  .content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;

    .logo {
      * {
        font-size: 20px;
        text-decoration: none;
        color: $text-color;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      column-gap: 20px;

      li {
        button {
          cursor: pointer;

          span {
            font-size: 25px;
          }
        }

        [data-profile] {
          .dropdown {
            display: flex;
            align-items: center;
            column-gap: 10px;

            .icon {
              font-size: 25px;
            }

            .img {
              height: 40px;
              aspect-ratio: 1/1;
              background: $element-bg;
              border: 1px solid $border-color;
              border-radius: 50%;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

#Searchbar {
  max-width: 400px;
  width: 100%;
  height: 40px;

  .content {
    position: relative;
    height: 100%;
    padding: 0 8px;
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: $element-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        padding: 10px 0;
        padding-left: 5px;

        &::placeholder {
          color: rgb(144, 144, 144);
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      &[data-hidden="true"] {
        visibility: hidden;
      }

      .icon {
        cursor: pointer;
      }
    }

    .icon {
      font-size: 20px;
      cursor: default;
    }
  }
}

#Home {
  $element-radius: 20px;

  .content {
    display: flex;
    column-gap: 20px;

    .left {
      border: 1px solid $border-color;
      min-width: 300px;
      height: calc(100vh - $navbar-height);
      padding: 25px;
      position: sticky;
      top: $navbar-height;

      hr {
        width: 100%;
        height: 0.5px;
        border: none;
        background: $border-color;
        margin: 25px 0;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
          a {
            text-decoration: none;
          }

          .content {
            display: flex;
            align-items: center;
            column-gap: 15px;
            color: $text-color;

            span {
              font-size: 25px;
            }

            .profile {
              display: flex;
              align-items: center;
              column-gap: 15px;
              margin-bottom: 10px;

              .img {
                height: 40px;
                aspect-ratio: 1/1;
                background: $element-bg;
                border: 1px solid $border-color;
                border-radius: 50%;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .center {
      width: 100%;
      padding-top: $navbar-height;

      .content {
        ul {
          width: 100%;

          li {
            .post-container {
              padding: 20px 0;
              display: flex;
              flex-direction: column;
              width: 100%;
              border-bottom: 0.5px solid $border-color;

              .title {
                margin-bottom: 10px;
              }

              .post-content {
                width: 100%;
                aspect-ratio: 9/6;
                border-radius: 15px;
                overflow: hidden;

                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }

              .post-details {
                margin-top: 10px;
                display: flex;
                column-gap: 10px;

                .group {
                  display: flex;
                  align-items: center;
                  background: rgb(236, 236, 236);
                  border-radius: 50px;

                  p {
                    padding: 0 5px;
                  }

                  .group-btn {
                    padding: 6px;
                    cursor: pointer;
                    background: transparent;
                    border: none;

                    &:hover {
                      background: rgb(218, 218, 218);
                    }
                  }
                }

                button {
                  display: flex;
                  align-items: center;
                  padding: 5px 10px;
                  background: rgb(236, 236, 236);
                  border-radius: 50px;
                  border: 0.5px solid $border-color;
                  cursor: pointer;

                  &:hover {
                    background: rgb(218, 218, 218);
                  }

                  span {
                    font-size: 22px;
                  }

                  p {
                    padding: 0 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .right {
      min-width: 300px;
      height: 100%;
      position: sticky;
      top: $navbar-height;

      .block {
        border: 1px solid $border-color;
        overflow: hidden;
        padding: 0 15px;

        .title {
          display: flex;
          align-items: center;
          column-gap: 10px;
          padding: 15px 0;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            margin: 0 auto;
            width: 95%;
            background: $border-color;
            height: 0.5px;
            bottom: 0;
            left: 0;
            right: 0;
          }

          span {
            font-size: 22px;
          }

          h2 {
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
          }
        }

        ul {
          li:nth-last-child(1) {
            .content {
              &::after {
                display: none;
              }
            }
          }

          li {
            .content {
              padding: 10px 0;
              display: flex;
              align-items: center;
              column-gap: 15px;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                margin: 0 auto;
                width: 95%;
                background: $border-color;
                height: 0.5px;
                bottom: 0;
                left: 0;
                right: 0;
              }

              .img {
                height: 32px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;

                img {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                }
              }

              .name {
              }
            }
          }
        }
      }
    }
  }
}
