@import url(./assets/fonts/fonts.css);

:root {
  --main-background: #0b1416;
  --navbar-height: 56px;
  --border-color: #3c4345;
  --border-color-light: #838f92;
  --border-color-dark: #242c2e;

  --font-light: "font-light";
  --font-thin: "font-thin";
  --font-regular: "font-regular";
  --font-medium: "font-medium";
  --font-bold: "font-bold";

  --element-background: #1a282d;
  --element-background-hover: #223237;
  --content-background-hover: #131f23;

  --title-color: #f2f4f5e4;
  --icon-color: var(--title-color);
  --text-color: rgba(230, 230, 230, 0.832);
  --content-background: var(--main-background);
}

html {
  background: var(--main-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-regular);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}

button {
  background: none;
  border: none;
}
